.category-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 2rem;
}

.category-header{
    background-color: rgb(0, 64, 22);
    color: rgb(245, 245, 245);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 4px;
}

.category-name{
    font-size: 1.25em;
    font-weight: 700;
}

.category-descriptor{
    font-size: 1em;
    margin-top: 0.4rem;
}

.category-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.category-table {
    border: 1px solid rgb(230, 230, 230);
    overflow: auto;
    border-radius: 4px;
    display: block;
    overflow: auto;
    white-space: nowrap;
}

.category-table-body {
    display: table;
    width: 100%;
}

.category-table-row {
    background: forestgreen;
}

.category-table-header {
    color: white;
    padding: 0.5rem 1.2rem;
}