.topic-item-row-even {
    height: 40px;
    background-color: white;
}

.topic-item-row-odd {
    height: 40px;
    background-color: rgb(246, 246, 246);
}

.topic-item-topic-name {
    text-decoration: none;
    color: green;
    font-weight: 600;
}

.topic-item-creator {
    text-decoration: none;
    color: green;
}

.topic-item-last-comment-date {
    color: gray;
    font-size: 0.8em;
    margin-right: 10px;
}