.blog-post-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background-color: rgb(244, 244, 244);
    direction: rtl;
    min-height: calc(100vh - 160px);
}

.blog-post-cadr-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.blog-post-cadr {
    display: flex;
    background-color: white;
    flex-direction: column;
    min-height: calc(100vh - 240px);
    border: solid 1px rgb(228, 228, 228);
    border-radius: 24px;
    margin: 2rem;
    padding: 2rem;
}

.blog-post-cadr-header-title {
    font-weight: 700;
    color: green;
    font-size: 1.4em;
}

.blog-post-cadr-header-date-time {
    margin-top: 1rem;
}


.blog-post-cadr-content {
    margin-top: 2rem;
    line-height: 2.8rem;
    text-align: justify;
}

.blog-post-cadr-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-post-cadr-image {
    max-width: 15rem;
    border-radius: 8px;
}

.blog-post-share-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    direction: ltr;
    gap: 5px;
    justify-content: baseline;
    margin-top: 1.5rem;
}

.blog-post-cadr-clipboard-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    direction: ltr;
    margin-top: 2rem;
    cursor: pointer;
}

.blog-post-cadr-clipboard-text {
    background-color: rgb(203, 203, 203);
    color: white;
    border-radius: 4px;
    font-size: 1em;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
}

.blog-post-cadr-clipboard-button {
    width: 25px;
    height: 25px;
    margin-bottom: 3px;
}

@media screen and (max-width: 960px) {
    .blog-post-cadr-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .blog-post-cadr-image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .blog-post-share-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        direction: ltr;
        justify-content: center;
        margin-top: 1.5rem;
        gap: 5px;
    }

    .blog-post-cadr-clipboard-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        direction: ltr;
        cursor: pointer;
        margin-top: 1rem;
    }

    .blog-post-cadr-content {
        margin-top: 1.5rem;
        line-height: 2.5rem;
        text-align: justify;
    }

    .blog-post-cadr-header-title {
        font-weight: 700;
        color: green;
        font-size: 1.2em;
    }

    .blog-post-cadr-image {
        max-width: 15rem;
        margin-top: 0.7rem;
        border-radius: 8px;
    }
}