.forums-list-container1 {
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-height: calc(100vh - 160px);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.forums-list-table {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(237, 237, 237);
    overflow: auto;
    display: block;
    overflow: auto;
    white-space: nowrap;
}

.forums-list-table-body {
    display: table;
    width: 100%;
}

.forums-list-table-row {
    background: forestgreen;
}

.forums-list-table-header {
    color: white;
    height: 35px;
    padding: 0.7rem 1.5rem;
}

.forums-list-above-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.forums-list-new-topic {
    margin-top: 1rem;
}

.forums-list-hall-name-text {
    font-size: 1em;
    font-weight: 600;
}

.forums-list-hall-descriptor-text {
    font-size: 1em;
}


.forums-list-login-label {
    color: green;
}

.forums-list-login-button {
    margin-top: 1rem;
}


.forums-list-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 960px) {
    .forums-list-above-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
    }

    .forums-list-hall-descriptor-text {
        font-size: 1em;
        margin-top: 1rem;
    }

    .forums-list-table {
        margin-top: 2rem;
        margin-bottom: 1rem;
        border: 1px solid rgb(237, 237, 237);
        overflow: auto;
        display: block;
        overflow: auto;
        white-space: nowrap;
    }
}