.home-container {
    background: '#f5f5f5';
    min-height: calc(100vh - 160px);
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.home-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
    direction: rtl;
    min-height: 30rem;
}

.home-recent-blog-posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-sticker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    background-color: green;
    padding: 0.5rem;
    color: white;
    width: 100%;
}

.home-recent-blog-posts {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-recent-blog-show-more {
    color: white;
    margin-bottom: 2rem;
}

@media screen and (max-width: 960px) {
    .home-container {
        background: '#f5f5f5';
        min-height: calc(100vh - 160px);
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }

    .home-options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.4rem;
        margin-top: 2rem;
        min-height: 30rem;
        margin-bottom: 2rem;
    }

    .home-recent-blog-posts-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-sticker {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.4em;
        background-color: green;
        padding: 0.5rem;
        color: white;
        width: 100%;
    }

    .home-recent-blog-posts {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        align-items: center;
        justify-content: center;
    }

    .home-recent-blog-show-more {
        color: white;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
}