.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    min-height: calc(100vh - 160px);
    direction: rtl;
}

.profile-section-name-label {
    background-color: green;
    font-size: 1.4em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 85%;
    padding: 0.5rem 1rem;
}

.profile-box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    flex: 3;
    height: fit-content;
    width: 85%;
    padding: 1.5rem;
    border-left: 2px solid green;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.profile-box2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    height: fit-content;
    width: 85%;
    padding: 1.5rem;
    border-left: 2px solid green;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.profile-charge-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0;
}

.profile-charge-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.profile-table {
    margin-top: 1.5rem;
    margin-right: 2rem;
    flex: 1;
    display: block;
    overflow: auto;
    white-space: nowrap;
    overflow-y: auto;
}

.profile-table-body {
    display: table;
    width: 100%;
}

.profile-table-row {
    background: forestgreen;
}

.profile-table-header {
    color: white;
    height: 35px;
    padding: 0.5rem 1.5rem;
}

.profile-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20rem;
    justify-content: space-between;
}

.profile-input-value {
    width: 13rem;
    height: 3rem;
    border-radius: 4px;
    border: 1px solid rgb(200, 200, 200);
    padding-right: 1rem;
    padding-left: 1rem;
}

.profile-input-value:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #71ce71;
}

.profile-biography {
    border-radius: 4px;
    resize: none;
    border: 1px solid rgb(200, 200, 200);
    height: 8rem;
    margin-top: 1rem;
    padding: 1rem;
}

.profile-biography:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #71ce71;
}

.profile-wallet-right-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.profile-fields-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.profile-input-label {
    margin-left: 1rem;
}

.profile-update-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.profile-countries-select {
    flex: 1;
    background: white;
    color: rgb(114, 114, 114);
    padding: 0.7rem;
    border: 1px solid rgb(185, 185, 185);
    margin-left: 5px;
    width: 50%;
}

.profile-biography-label {
    margin-top: 1.5rem;
}

@media screen and (max-width: 960px) {

    .profile-box1 {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        border-left: 2px solid green;
        border-right: 2px solid green;
        border-bottom: 2px solid green;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 1rem 1rem;
    }

    .profile-box2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        height: fit-content;
        padding: 1.5rem;
        border-left: 2px solid green;
        border-right: 2px solid green;
        border-bottom: 2px solid green;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .profile-input-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 6px;
        width: 100%;
    }

    .profile-input-label {
        margin: 0.4rem;
    }

    .profile-input-value {
        height: 3rem;
        width: 100%;
        border-radius: 4px;
        border: 1px solid rgb(200, 200, 200);
    }

    .profile-input-value:focus {
        outline: none !important;
        border-color: #719ECE;
        box-shadow: 0 0 10px #71ce71;
    }

    .profile-fields-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 0;
        padding-left: 0px;
    }

    .profile-update-button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 1.5rem;
    }

    .profile-countries-select {
        flex: 1;
        background: white;
        color: rgb(114, 114, 114);
        padding: 0.7rem;
        border: 1px solid rgb(185, 185, 185);
        width: 100%;
    }

    .profile-biography {
        border-radius: 4px;
        resize: none;
        border: 1px solid rgb(200, 200, 200);
        height: 8rem;
        margin-top: 1rem;
        padding: 1rem;
    }

    .profile-biography-label {
        margin-top: 1.5rem;
    }

    .profile-table {
        margin-top: 1.5rem;
        margin-right: 0rem;
        flex: 1;
        display: block;
        overflow: auto;
        white-space: nowrap;
        overflow-y: auto;
    }
    
}