.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-height: calc(100vh - 160px);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.table {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border: 2px solid forestgreen;
    overflow: auto;
    display: block;
    overflow: auto;
    white-space: nowrap;
}

.table-body {
    display: table;
    width: 100%;
}

.table-row {
    background: forestgreen;
}

.table-header {
    color: white;
    height: 35px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.above-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.new-topic {
    margin-top: 1rem;
}

.hall-name-text {
    font-size: 1em;
    font-weight: 600;
}

.hall-descriptor-text {
    font-size: 1em;
    font-weight: 600;
    margin-top: 1rem;
}

@media screen and (max-width: 960px) {
    .above-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
    }
}