.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 8rem;
    padding-right: 8rem;
    direction: rtl;
    min-height: calc(100vh - 160px);
}