.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    min-height: calc(100vh - 160px);
    direction: rtl;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    flex: 3;
    height: fit-content;
    width: 85%;
    padding: 1.5rem;
    border: 2px solid green;
    border-radius: 1rem;
    margin-top: 2rem;
}

.top-box {
    margin-top: 1rem;
}

.charge-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0;
}

.charge-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.table {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 85%;
    border: 2px solid forestgreen;
    display: block;
    overflow: auto;
    white-space: nowrap;
}

.table-body {
    display: table;
    width: 100%;
}

.table-row {
    background: forestgreen;
}

.table-header {
    color: white;
    height: 35px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.profile-name-input-container {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.full-name-input {
    width: 21rem;
    height: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.full-name-label {
    margin-right: 2rem;
}

@media screen and (max-width: 960px) {
    .top-box {
        margin-top: 2rem;
    }

    .full-name-input {
        width: 100%;
        height: 3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-bottom: 1rem;
    }

    .profile-name-input-container {
        padding-right: 2rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}