.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 160px);
    padding: 1rem;
}

.table {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.table-body {
    display: table;
    width: 100%;
}

.table-row {
    background: forestgreen;
}

.table-header {
    color: white;
    height: 35px;
}