.category-item{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.category-header{
    background-color: rgb(9, 43, 9);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.name{
    font-size: 1.2em;
}

.descriptor{
    font-size: 1em;
    margin-top: 0.5rem;
}

.category-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.table {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid forestgreen;
    overflow: auto;
    display: block;
    overflow: auto;
    white-space: nowrap;
}

.table-body {
    display: table;
    width: 100%;
}

.table-row {
    background: forestgreen;
}

.table-header {
    color: white;
    height: 35px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}