.comment-item-container {
    background: rgb(235, 235, 235);
    margin-top: 1rem;
}

.comment-item-container {
    margin-top: 1rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 2rem;
}

.comment-item-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.comment-item-avatar-style {
    width: 4rem;
    height: 4rem;
}

.comment-item-header-text-container {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.comment-item-header-text-container-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
}

.comment-item-label-key {
    font-weight: 600;
    margin-left: 0.5rem;
}

.comment-item-body {
    background-color: rgb(243, 243, 243);
    margin-top: 1rem;
    border: 0px solid gray;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 2rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
}

.comment-item-body-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
}

.comment-item-body-row-comment {
    margin-top: 2rem;
}

.comment-item-header-text-container-name{
    text-decoration: none;
    color: black;
}

.comment-item-options-container{
    margin-top: 1rem;
    direction: ltr;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.comment-item-options-item-image{
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
}

.comment-item-report-cross{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.comment-item-report-text{
    padding: 1rem;
    border-radius: 4px;
    border: solid 1px rgb(227, 227, 227);
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 8rem;
}

.comment-item-report-inner-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.comment-item-report-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    direction: rtl;
    height: 15rem;
    width: 30rem;
}

@media screen and (max-width: 960px) {
    .comment-item-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        margin-top: 1rem;
        border: 1px solid gray;
        border-radius: 0.5rem;
        padding: 1rem;
    }

    .comment-item-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .comment-item-header-text-container {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-right: 0px;
        margin-left: 0px;
    }

    .comment-item-header-text-container-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 0.5rem;
    }

    .comment-item-body-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .comment-item-report-cross{
        width: 10px;
        height: 10px;
        color: black;
        cursor: pointer;
    }
    
    .comment-item-report-text{
        padding: 1rem;
        border-radius: 4px;
        border: solid 1px rgb(227, 227, 227);
        margin-top: 2rem;
        margin-bottom: 1rem;
        height: 8rem;
    }
    
    .comment-item-report-inner-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .comment-item-report-container{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        direction: rtl;
        height: 15rem;
        width: 20rem;
    }
}