@font-face {
  font-family: "syekan";
  src: url(assets/syekan.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* @import url(assets/IRANYekan/css/fontiran.css); */

body {
  /* font-family: iranyekan, "syekan", sans-serif; */
  font-family: syekan, sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', syekan, sans-serif;
}

button {
  font-family: syekan, sans-serif;
}


html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}